{{ header }}{{ column_left }} 
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="button" data-toggle="tooltip" title="{{ entry_create }}" id="button-create" class="btn btn-primary"><i class="fa fa-plus"></i> {{ entry_create }}</button>
        <button type="button" data-toggle="tooltip" title="{{ entry_clean }}" id="button-clean" class="btn btn-danger"><i class="fa fa-eraser"></i> {{ entry_clean }}</button>
        <button type="submit" id="button-save" form="form-robots" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i> {{ button_save }}</button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %} 
        <li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
        {% endfor %} 
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-exclamation-triangle"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
    <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-robots" class="form-horizontal">
        <textarea id="text" name="robots" wrap="off" rows="15" class="form-control">{{ text }}</textarea>
    </form>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript"><!--
$('#button-create').on('click', function() {
	$.ajax({
		url: 'index.php?route=extension/module/gixocrobots/create_robots&user_token=' + '{{ user_token }}',
		dataType: 'text',
		beforeSend: function() {
			$('#button-create').prop('disabled', true);
		},
		complete: function() {
			$('#button-create').prop('disabled', false);
		},
		success: function(res) {
			$('#text').val(res);
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}	
	});
});
$('#button-clean').on('click', function() {
	$('#text').val('');
});
//--></script>
{{ footer }}